---
layout: base
---

<div class="tag-page">
  <h1 class="tag-page-title">Tagged: <span class="tag-name">{{ page.tag }}</span></h1>

  <ul class="tag-page-list">
    {% for post in page.posts %}
      <li>
        <span class="tag-post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="tag-post-link" href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tag-cloud">
    <p class="tag-cloud-label">All tags</p>
    {{ site | tag_cloud }}
  </div>
</div>
